{% macro button(text, url, type="primary") %}
<a href="{{ url }}" class="btn btn-{{ type }}">{{ text }}</a>
{% endmacro %}

{% macro card(title, content, image="") %}
<article class="post-card">
  <a href="{{ post.url }}">
    <img src="{{ post.data.thumbnail }}" alt="{{ post.data.title }}">
    <h4>{{ post.data.title }}</h4>    
  </a>
</article>
{% endmacro %}
